<!DOCTYPE html>
<html>
<head>
<title>DiLy</title>
<link rel="stylesheet" href="Upload.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<img id="bgImg" src="../background/blue-11.jpg" alt="Background Image">

	<ul id="menu">
		<li class="menu"><a href="../DiLy.html">Home</a></li>
		<li class="menu"><a href="../Explore.html">Explore</a></li>
		<li class="menu"><a href="Upload.html">Upload</a></li>
		<li class="menu"><a href="../login_page/login_page.html">Logout</a></li>
	</ul>
<br><br><br>

<a href="uploadLET.html">
	<img id="static1" src="../animatii/static/animatie_plic.png" alt="This will display an animated GIF" width="304px" height="228px"/>
	<img id="animatie1" src="../animatii/animatie_plic.gif" alt="This will display an animated GIF" width="304px" height="228px"/>
</a>
<a href="uploadIMG.html">
	<img id="static2" src="../animatii/static/animatie_photo.png" alt="This will display an animated GIF" width="304px" height="228px"/>
	<img id="animatie2" src="../animatii/animatie_photo.gif" alt="This will display an animated GIF" width="304px" height="228px"/>
</a>
<a href="uploadMOVIE.html">
	<img id="static3" src="../animatii/static/animatie_film.png" alt="This will display an animated GIF" width="304px" height="228px"/>
	<img id="animatie3" src="../animatii/animatie_film.gif" alt="This will display an animated GIF" width="304px" height="228px"/>

</a>
<a href="uploadACT.html">
	<img id="static4" src="../animatii/static/animatie_act.png" alt="This will display an animated GIF" width="304px" height="228px"/>
	<img id="animatie4" src="../animatii/animatie_act.gif" alt="This will display an animated GIF" width="304px" height="228px"/>
</a>
<a href="uploadART.html">
	<img id="static5" src="../animatii/static/animatie_artefact.png" alt="This will display an animated GIF" width="304px" height="228px"/>
	<img id="animatie5" src="../animatii/animatie_artefact.gif" alt="This will display an animated GIF" width="304px" height="228px"/>
</a>


</body>
</html>