#advanced_search
{
    transition: margin-left .5s;
    padding: 16px;
}

#mainContainer
{
    margin-top: 120px;

    margin-bottom: 40px;

    text-align: center;
}

#bg-img
{
    min-width: 100%;
    min-height: 100%;

    width: 100%;
    height: auto;

    background-size: cover;

    z-index: -1;

    position: fixed;

    top: 0;
    left: 0;
}

.memParameters,
.memType,
.enterUsernameDiv,
.createdDateDiv
{
    width: 100%;
    padding: 16px;

    margin-bottom: 20px;

    text-align: center;
}
#memParametersSpan,
#createdDateSpan,
#chooseMemTypeSpan,
#enterUsername
{
    font-size: 25px;

    font-family: "Courier New", Courier, monospace;
    font-weight: bold;

    border-bottom-style: solid;
    border-width: 1px;

    padding: 0 70px;
}

.memType label
{
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;

    font-size: 14pt;
}

.memTypeInput
{
    margin-right: 7px !important;
}

.enterUsernameDiv > label > input[type="text"]
{
    padding: 0 5px;
    width: 320px;
}

.createdBetweenSpans
{
    font-family: "Courier New", Courier, monospace;
    font-size: 14pt;
    font-weight: bold;
}

#searchInput
{
    color: black;
    background-image: url('../content/search.png');
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#searchInput:focus
{
    width: 60%;
}

#searchBtn
{
    border-radius: 0 !important;

    background-color: #343434;
    color: white;

    font-family: "Courier New", Courier, monospace;
    font-size: 13pt;
}

#searchBtn:hover
{
    background-color: #707070;
}

.searchType
{
    display: inline-table;

    width: 70%;

    padding-bottom: 20px;

    text-align: center;
}

#secondForm
{
    height: 100%;
}

#documentOptions,
#artifactOptions,
#videoOptions,
#photoOptions,
#letterOptions
{
    display: none;
}

#documentOptionsSpanName
{
    margin-right: 136px;
}

#documentOptionsSpanEmissionDate
{
    margin-right: 86px;
}

.documentOptionsLabel input[type="text"]
{
    padding: 0 5px;
}

.letterOptionsSpan,
.photoOptionsSpan,
.videoOptionsSpan,
.documentOptionsSpan,
.artifactOptionsSpan
{
    font-family: "Courier New", Courier, monospace;
    font-size: 13pt;
    font-weight: bold;
}

#artifactOptionsSpanDescription
{
    margin-right: 20px;
}

#artifactOptionsSpanName
{
    margin-right: 93px;
}

#artifactOptionsSpanRecDate
{
    margin-right: 34px;
}

#videoOptionsSpanTitle
{
    margin-right: 62px;
}

#videoOptionsSpanRecDate
{
    margin-right: 44px;
}

#photoOptionsSpanDescription
{
    margin-right: 5px;
}

#photoOptionsSpanLocation
{
    margin-right: 34px;
}

#letterOptionsSpanMessage
{
    margin-right: 55px;
}

#letterOptionsSpanSender
{
    margin-right: 22px;
}

input[type="text"]
{
    padding: 0 5px;
}