#mainContainer
{
    margin-top: 80px;

    width: 800px;
}

#bg-img
{
    min-width: 100%;
    min-height: 100%;

    width: 100%;
    height: auto;

    background-size: cover;

    z-index: -1;

    position: fixed;

    top: 0;
    left: 0;
}

.jumbotron
{
    background-color: #3a3a3a !important;
    color:black;
    width:100%;
    position: relative;
    height: 80%;
    padding-top:20px !important;
    padding-bottom: 20px !important;
    box-shadow: 0 0 7px #00002a;

    border-radius: 10px !important;
}


.poster
{
    height: 17%;

    margin-bottom: 20px;

    border-bottom-style: solid;
    border-width: 1px;
    border-color: dimgray;
}

.poster p
{
    display: table-cell;
    padding-left: 10px;

    font-family: "Times New Roman", sans-serif;

    color: #cecece;
}

.poster p a
{
    text-decoration: none;
}

.profile-photo
{
    width: 72px;
    height: 68px;
    float: left;
    border-style: solid;
    border-width: 1px;
    border-color: darkgray;

    cursor: pointer;

    box-shadow: 0 0 1px 1px dimgray;

    position: relative;
    top: 1px;
}

.profile-photo a
{
    width: 71px;
    height: 67px;
}

.img-rounded
{
    width: 61%;
    height: 70%;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0 !important;
    float:left;
}

.let
{
    width: 61%;
    height: 70%;
    border-radius: 0 !important;
    cursor: pointer;
    transition: 0.3s;
    float:left;
    background-color: #ffe393;
}

.let:hover {opacity: 0.7;}



.img-rounded:hover {opacity: 0.7;}
.video:hover {opacity: 0.7;}



.video
{
    width: 61%;
    height: 60%;
    cursor: pointer;
    transition: 0.3s;
    float:left;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    overflow: auto;
}



.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}


.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

div.rightContainer button
{
    border-radius: 0 !important;

    font-family: "Courier New", Courier, monospace;
    font-weight: bold;

    font-size: 15px;

    background-color: white;
    color: black;

    margin-left: 35px;
}

div.rightContainer button:hover
{
    background-color: rgb(224, 224, 224);
}


.hideBut
{
    width: 100%;
    height: 83%;
    padding: 10px 20px;
    text-align: left;
    margin-top: 15px;
    display: none;
    overflow: auto;
}

.hideBut p
{
    font-family: "Times New Roman", sans-serif;

    color: white;

    display: inline;
}

p.memDescription,
p.memLocation,
p.memCreationDate
{
    font-style: italic;
}