#mainContainer
{
    margin-top: 80px;
}

#bg-img
{
    min-width: 100%;
    min-height: 100%;

    width: 100%;
    height: auto;

    background-size: cover;

    z-index: -1;

    position: fixed;

    top: 0;
    left: 0;
}

.changes
{
    position: relative;
    height: 15%;

    padding-top: 50px;
    text-align: center;
}

.caption span.border
{
    color: #262626;
    padding: 10px;
    font-size: 30px;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
}

#scrollableDiv
{
    position:relative;
    color: #31488e;
    padding-bottom: 15px;
}

#mainContainer{
    padding-bottom: 18px;
}


@media screen and (max-height: 646px)
{
    #scrollableDiv
    {
        max-height: 250px;

    }

}
@media screen and (max-width: 659px)
{
    #scrollableDiv
    {
        max-height: 250px;
    }

}

@media screen and (max-height: 446px)
{
    #scrollableDiv
    {
        max-height: 150px;

    }

}

@media screen and (max-width: 459px)
{
    #scrollableDiv
    {
        max-height: 150px;
    }

}

.erori, .succesuri
{
    align:center;
    text-align:center;
}

.erori
{
    border: 1px solid red;
    background-color: pink;
    color:red;
}

.erori ul{
    list-style:none;
    padding:0;
    margin:0;
}

.succesuri
{
    border: 1px solid green;
    background-color:lawngreen;
    color:green;
}