#mainContainer
{
    margin-top: 80px;
}

#bg-img
{
    min-width: 100%;
    min-height: 100%;

    width: 100%;
    height: auto;

    background-size: cover;

    z-index: -1;

    position: fixed;

    top: 0;
    left: 0;
}

.picture-upload
{
    background-image:url('../content/pictureUpload.png');
    background-size: 80px 60px;
    background-repeat: no-repeat;
    background-position: right;
}

.video-upload
{
    background-image:url('../content/video.png');
    background-size: 80px 60px;
    background-repeat: no-repeat;
    background-position: right;
}

.letter-upload
{
    background-image:url('../content/letter.png');
    background-size: 80px 60px;
    background-repeat: no-repeat;
    background-position: right;
}

.act-upload
{
    background-image:url('../content/act.jpg');
    background-size: 60px 80px;
    background-repeat: no-repeat;
    background-position: right;
}

.artefact-upload
{
    background-image:url('../content/Ank.png');
    background-size: 30px 50px;
    background-repeat: no-repeat;
    background-position: right;
}


#letterContent, #pictureDescription, #videoDescription, artDescription
{
    resize:none;
}