* {
    box-sizing: border-box
}
body {
    font-family: "Lato", sans-serif;
}
#mainContainer
{
    margin-top: 80px;
}

#bg-img
{
    min-width: 100%;
    min-height: 100%;

    width: 100%;
    height: auto;

    background-size: cover;

    z-index: -1;

    position: fixed;

    top: 0;
    left: 0;
}

/* Style the tab */
div.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: 360px;
}

/* Style the buttons inside the tab */
div.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 24px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
div.tab button.active {
    background-color: rgba(43, 88, 120, 0.41);
    color:black;
}

/* Style the tab content */
.tabcontent {
    overflow:scroll;
    float: left;
    padding: 0px 12px;
    border: 2px solid #ddd;
    width: 70%;
    border-left: none;
    height: 54.7%;
}

#question{
    padding-top: 50px;
    padding-bottom: 15px;
    font-size: 30px;
    letter-spacing: 5px;
}

.erori, .succesuri
{
    align:center;
    text-align:center;
}

.erori
{
    border: 1px solid red;
    background-color: pink;
    color:red;
}

.erori ul{
    list-style:none;
    padding:0;
    margin:0;
}

.succesuri
{
    border: 1px solid green;
    background-color:lawngreen;
    color:green;
}