<!DOCTYPE html>
<html>
<head>
<title>DiLy</title>
<link rel="stylesheet" href="DiLy.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<ul id="menu">
		<li class="menu"><a href="DiLy.html">Home</a></li>
		<li class="menu"><a href="Explore.html">Explore</a></li>
		<li class="menu"><a href="Upload.html">Upload</a></li>
		<li class="menu"><a href="../login_page/login_page.html">Logout</a></li>
	</ul>
<br><br><br>
<img src="upload.png" alt="Interfata upload" usemap="#uploadMap" id="uploadIMG">

<map name="uploadMap">
	<area shape="rect" coords="50,135,180,75" alt="letter" href="viewLET.html">
	<area shape="rect" coords="645,200,526,40" alt="photograph" href="viewIMG.html">
	<area shape="rect" coords="440,185,305,325" alt="artefact" href="viewART.html">
	<area shape="circle" coords="132,418,90" alt="movie" href="viewMOVIE.html">
	<area shape="rect" coords="650,505,515,330" alt="act" href="viewACT.html">
</map>
</body>
</html>