#mainContainer
{
    margin-top: 80px;
}

#bg-img
{
    min-width: 100%;
    min-height: 100%;

    width: 100%;
    height: auto;

    background-size: cover;

    z-index: -1;

    position: fixed;

    top: 0;
    left: 0;
}

#categorySidenav a {
    position: fixed;
    transition: 0.3s;
    padding: 15px;
    width: auto ;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}

#categorySidenav a:hover {
    left: 0;
}

#all {
    left: -130px;
    top: 100px;
    background-color: #4CAF50;
    text-align: center ;
}

#images {
    left: -80px;
    top: 160px;
    background-color:#795548;
    text-align-all: center;
}

#videos {
    left: -75.1px;
    top: 220px;
    background-color: #f44336;
    text-align: center;
}

#letters {
    left: -76px;
    top: 280px;
    background-color: #4A148C;
    text-align: center;
}

#artefacts {
    left: -93.5px;
    top: 340px;
    background-color: #FFC107;
    text-align: center;
}

#documents {
    left: -115.8px;
    top: 400px;
    background-color: #555 ;
    text-align: center;
}