<!DOCTYPE html>
<html>
	<head><title>DiLy - Upload</title><meta name="viewport" content="width=device-width, initial-scale=1.0"></head>
	<body>
	<input type="text" class="letterS" placeholder="Sender"><br> <!--letter Sender-->
	<input type="text" class="letterR" placeholder="Receiver"><br> <!--letter Receiver-->
	<input type="text" class="letterDate" placeholder="Date"><br>
	<textarea id="letterContent" placeholder="Letter" rows="10" cols="50"></textarea>
	<button id="BuploadLetter">Upload</button>
	</body>
</html>